/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: #333;
}

p {
    color: #666;
}

/* Estilos para el encabezado */
header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    color: #333;
    text-decoration: none;
    padding: 5px;
}

nav a:hover {
    background-color: #f2f2f2;
}

/* Estilos para las secciones */
section {
    padding: 20px;
}

h2 {
    font-size: 22px;
    margin-bottom: 10px;
}

/* Estilos para el pie de página */
footer {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
}

/* Estilos para el enlace de acceso */
.acceso {
    display: block;
    text-align: center;
    margin-top: 20px;
}
